extends layout

block content
    div(ng-controller="rideController", class="container")
        form#formAddUser(name="adduser", method="post", action="/adduser")
            tr
                td Name
                td 
                    input(type="text", placeholder="Nancy Drew", ng-model="ride.name", name="username") 
            tr 
                td Conference Code
                td 
                    input(type="text", placeholder="GHC",ng-model="ride.code", name="conference")
            tr
                td Date
                td 
                    input(type="text", placeholder="datepicker", ng-model="ride.date", datepicker, name="date1")
            tr
                td Flight Number
                td 
                    input(placeholder="UA432", name="flightNumber", ng-model="ride.flightNum")
            tr
                td Arrival Time
                td 
                    input(placeholder="10:00", name="arrival", ng-model="ride.arrTime", style="width:40%")
                    select(ng-model="ride.ampm", ng-options="opt for opt in options")
            tr
                td Phone Number
                td 
                    input(placeholder="123-456-7890", name="number", ng-model="ride.phone") 
            
                button#btnSubmit(type="submit", ng-click="findRide()", class="button buttonWord centerButt") submit
